/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

body{
    background-color: #015367;
    /* original background: #015367 */
    /* alternate background 1: #161A22;*/
    /* alternate background 2: #202833;*/
    /* alternate background 3: #303E51 */
    /* alternate background 4: #012b36  */
    /* alternate highlights color: #66FDF2 */
}

.content-homepage{
    display: none;
    opacity: 0;
}

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-nav a{
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link{
    transition: 0.3s;
}

.nav-link{
    position: relative;
    padding-left: 20px !important;
    padding-right: 20px !important;
    transition: 0.3s;
}

.nav-link:hover{
    color: black !important;
    transition: 0.3s;
    font-weight: bold;
}

.nav-link::after{
    content: "";
    background: #FFBB37;
    position: absolute;
    top: 108%;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    transition: 0.3s;
}

.nav-link:hover:after{
    transition: 0.3s;
    content: "";
    background: #FFBB37;
    position: absolute;
    top: 0;
    left: 0;
    height: 117%;
    width: 100%;
    z-index: -1;
}

.active{
    background-color:rgba(255, 187, 55, 0.5) !important;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

#greeting{
    font-size: 20px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(255, 187, 55, 0.5);
    position: relative;
    padding: 10px 10px;
    line-height: 0;
    text-transform: uppercase;
    font-weight: bold;
}

#greeting:after{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 5px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 10px solid rgba(255, 187, 55, 0.5);
    border-bottom: 10px solid transparent;
}

#name{
    font-weight: 900;
    color: #FFBB37;
    font-size: 50px;
    margin: 0px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px !important;
}

#name span{
    color: white;
}

#web-dev{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

#about-me{
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    position: relative;
    padding-left: 60px;
    color:  rgba(255, 255, 255, 0.9);
    font-weight: 700;
}

#about-me::before{
    content: "";
    position: absolute;
    background-color: #FFBB37;
    height: 3px;
    top: 11px;
    left: 0;
    width: 50px;
}

.text-col p{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
}

.text-col p:first-of-type{
    margin-top: 0px;
}

.text-col .button-panel button{
    background-color: #FFBB37;
    width: 200px;
}

#resume{
    float: right;
}

#resume a{
    border: 4px solid #FFBB37;
}

#resume a:after{
    content: "";
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    transition: 0.3s;
}

#resume a:hover:after{
    transition: 0.3s;
    content: "";
    background: #FFBB37;
    position: absolute;
    top: 0;
    left: -1px;
    height: 100%;
    width: 102%;
    z-index: -1;
}

.text-col{
    min-height: 70vh;
    margin-top: 150px;
}

.illustration-col{
    margin-top: 100px;
}

/* After 992px */
@media (min-width: 992px) { 
    .nav-link{
        transform: translateX(-3%);
    }

    #home-container{
        min-width: 80% !important;
    }

    #homeImage{
    }

    .button-panel a{
        text-align: center;
        margin-right: 100px;
    }
}

/* Before 992px */
@media(max-width: 992px) {
    .nav-link{
        float: right;
        margin-bottom: 15px;
    }

    .navbar-nav{
        margin-top: 15px;
    }

    #resume{
        float: left;
        width: 100%;
    }

    #resume a{
        border: 0px !important;
    }

    #resume a:after{
        content: "";
        background: #FFBB37;
        position: absolute;
        top: 108%;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        transition: 0.3s;
    }

    #resume a:hover:after{
        transition: 0.3s;
        content: "";
        background: #FFBB37;
        position: absolute;
        top: 0;
        left: 0;
        height: 117%;
        width: 100%;
        z-index: -1;
    }

    #homeImage{
        width: 90vw;
        opacity: 0.2;
    }

    .text-col{
        min-height: 80vh;
        margin-top: 10px;
    }

    .illustration-col{
        z-index: -1;
        position: absolute;
        top: 8%;
    }

    #greeting{
        color: rgba(255, 255, 255, 0.6);
        font-size: 20px;
        margin: 0px;
    }

    #name{
        font-weight: 900;
        color: #FFBB37;
        font-size: 45px;
        margin: 0px;
        line-height: 50px;
    }
    
    #web-dev{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: normal;
    }
    
    #about-me{
        margin-top: 50px;
        font-size: 20px;
        font-weight: 600;
        color: #FFBB37;
        position: relative;
    }
    
    #about-me:before{
        content: "";
        position: absolute;
        background-color: #FFBB37;
        height: 2px;
        top: 0px;
        left: 0px;
        width: 30px;
    }
    
    .text-col p{
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        color: rgba(255, 255, 255, 0.8);
        max-width: 650px;
        font-size: 18px;
    }

    .button-panel{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .button-panel h3{
        font-size: 20px;
    }

    .button-panel a{
        margin: 0px 10px;
    }

    .primaryButton, .secondaryButton{
        min-width: 150px !important;
    }
}

svg #w{
    opacity: 0;
}

.loader {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) !important;
}

#logo svg{
    height: 50px;
    width: 50px !important;
    transition: 0.5s;
}

#logo svg:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

#logo svg:hover #hexagon{
    transition: 0.3s;
    fill:rgba(255, 187, 55, 0.5) !important;
}

#logo svg:hover #w-logo{
    fill: black;
    transition: 0.5s;
}

.button-panel{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-panel a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.button-panel h3{
    text-align: center !important;
    margin: 0px;
}

.primaryButton{
    border: 3px solid #FFBB37;
    background-color: rgba(255, 187, 55, 0.6);
    padding: 10px 0px;
    border-radius: 3px;
    width: 220px;
}

.secondaryButton{
    background-color: transparent;
    border-radius: 3px;
    padding: 10px 0px;
    border: 3px solid #FFBB37;
    width: 220px;
}

.primaryButton:hover, .secondaryButton:hover{
    border: 3px solid black;
}
/* || End of index css */

/* || Start of portfolio css */
#portfolio-container{
    margin-top: 50px;
}

#portfolio-container .row{
    position: relative;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title h1{
    font-size: 8.25rem;
    color: rgba(255, 255, 255, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0px;
    user-select: none;
}

.title p{
    font-size: 2.25rem;
    position: absolute;
    align-self: center;
    color: white;
    /*color: #FFBB37;*/
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6 !important;
    margin: 0px;
}

.title span{
    border-bottom: 4px solid #FFBB37;
    display: block;
    margin: 0 auto;
    max-width: 40%;
}

/*  projects css */
.project{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.content{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    z-index: 1;
}

.project-description{
    background-color: rgba(2, 43, 54, 0.8);
    border-radius: 3px;
    padding: 20px;
}

.project-description p{
    margin: 0px;
}

.left{
    flex-direction: row;
}

.right{
    flex-direction: row-reverse;
}

.project-tags{
    list-style-type: none;
    margin: 20px 0px;
    padding: 0px;
}

.project-tags li{
    display: inline;
    margin: 0px 5px;
}

.project-links a{
    text-decoration: none !important;
    color: white;
    margin: 0px 10px;
    font-size: 1.5rem;
    transition: 0.3s;
}

.project-links a:hover{
    color: #FFBB37;
}

.left .project-tags{
    text-align: left;
}

.right .project-tags{
    text-align: right;
}

.project-img {
    width: 100%;
}

.project .col-md-6{
    padding: 0px;
}

.left{
    flex-direction: row;
}

.right{
    flex-direction: row-reverse;
}

.left .content{
    margin-right: -20%;
    text-align: left;
}

.right .content{
    margin-left: -20%;
    text-align: right;
}

.project-tags{
    list-style-type: none;
    margin: 20px 0px;
    padding: 0px;
}

.project-tags li{
    display: inline;
    margin: 0px 5px;
}

.left .project-tags{
    text-align: left;
}

.right .project-tags{
    text-align: right;
}

.project-title{
    font-family: 'Poppins', sans-serif;
}

.project-description{
    font-family: 'Poppins', sans-serif;
}

.project-tags{
    font-family: 'Poppins', sans-serif;
}

.preview a{
    min-height: 100% !important;
    min-width: 100% !important;
}

@media(max-width: 768px) {
    .title h1{
        font-size: 5rem;
    }

    .title p{
        font-size: 1.5rem;
    }

    .project{
        position: relative;
        padding: 30px;
    }

    .preview{
        position: absolute;
        opacity: 0.3;
    }

    .content{
        margin-right: 0 !important;
        margin-left: 0 !important;
        min-height: 100% !important;
        margin-top: 10px;
    }

    .project-title{
        text-align: left !important;
    }

    .project-tags{
        text-align: left !important;
    }

    .project-links{
        text-align: left !important;
    }
}

@media(max-width: 576px) {
    .title h1{
        font-size: 4rem !important;
    }

    .title p{
        font-size: 1.5rem;
    }
}