/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monterrat:wght@400;600;900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700;800');

body{
    min-height: 100vh;
    background-color: #015367;
    /* original background: #015367 */
    /* alternate background 1: #161A22;*/
    /* alternate background 2: #202833;*/
    /* alternate background 3: #303E51 */
    /* alternate background 4: #012b36  */
    /* alternate highlights color: #66FDF2 */
}

::selection {
    background: #FFBB37;
}

.content-homepage{
    display: none;
    opacity: 0;
}

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-nav a{
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
}

.nav-link{
    position: relative;
    padding-left: 20px !important;
    padding-right: 20px !important;
    transition: 0.3s;
}

.nav-link:hover{
    color: black !important;
}

.nav-link::after{
    content: "";
    background: #FFBB37;
    position: absolute;
    top: 108%;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    transition: 0.3s;
}

.nav-link:hover:after{
    transition: 0.3s;
    content: "";
    background: #FFBB37;
    position: absolute;
    top: 0;
    left: 0;
    height: 117%;
    width: 100%;
    z-index: -1;
}

.active{
    background-color:rgba(255, 187, 55, 0.5) !important;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

#greeting{
    font-size: 20px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(255, 187, 55, 0.5);
    position: relative;
    padding: 10px 10px;
    line-height: 0;
    text-transform: uppercase;
    font-weight: bold;
}

#greeting:after{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 5px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 10px solid rgba(255, 187, 55, 0.5);
    border-bottom: 10px solid transparent;
}

#name{
    font-weight: 900;
    color: #FFBB37;
    font-size: 50px;
    margin: 0px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px !important;
}

#name span{
    color: white;
}

#web-dev{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

#about-me{
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    position: relative;
    padding-left: 60px;
    color:  rgba(255, 255, 255, 0.9);
    font-weight: 700;
}

#about-me::before{
    content: "";
    position: absolute;
    background-color: #FFBB37;
    height: 3px;
    top: 11px;
    left: 0;
    width: 50px;
}

.text-col p{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.text-col p:first-of-type{
    margin-top: 0px;
}

#resume{
    float: right;
}

#resume a{
    border: 4px solid #FFBB37;
}

#resume a:after{
    content: "";
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    transition: 0.3s;
}

#resume a:hover:after{
    transition: 0.3s;
    content: "";
    background: #FFBB37;
    position: absolute;
    top: 0;
    left: -1px;
    height: 100%;
    width: 102%;
    z-index: -1;
}

.text-col{
    min-height: 70vh;
    margin-top: 150px;
}

.illustration-col{
    margin-top: 100px;
}

/* After 992px */
@media (min-width: 992px) { 
    .nav-link{
        transform: translateX(-3%);
    }

    #home-container{
        min-width: 80% !important;
    }
}

/* Before 992px */
@media(max-width: 992px) {
    .nav-link{
        float: right;
        margin-bottom: 15px;
    }

    .navbar-nav{
        margin-top: 15px;
    }

    #resume{
        float: left;
        width: 100%;
    }

    #resume a{
        border: 0px !important;
    }

    #resume a:after{
        content: "";
        background: #FFBB37;
        position: absolute;
        top: 108%;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        transition: 0.3s;
    }

    #resume a:hover:after{
        transition: 0.3s;
        content: "";
        background: #FFBB37;
        position: absolute;
        top: 0;
        left: 0;
        height: 117%;
        width: 100%;
        z-index: -1;
    }

    #homeImage{
        width: 90vw;
        opacity: 0.2;
    }

    .text-col{
        min-height: 80vh;
        margin-top: 10px;
    }

    .illustration-col{
        z-index: -1;
        position: absolute;
        top: 8%;
    }

    #greeting{
        color: rgba(255, 255, 255, 0.6);
        font-size: 20px;
        margin: 0px;
    }

    #name{
        font-weight: 900;
        color: #FFBB37;
        font-size: 45px;
        margin: 0px;
        line-height: 50px;
    }
    
    #web-dev{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: normal;
    }
    
    #about-me{
        margin-top: 50px;
        font-size: 20px;
        color: #FFBB37;
        position: relative;
        padding-left: 40px;
    }
    
    #about-me:before{
        content: "";
        position: absolute;
        background-color: #FFBB37;
        height: 3px;
        top: 10px;
        left: 0px;
        width: 30px;
    }
    
    .text-col p{
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        color: rgba(255, 255, 255, 0.8);
        max-width: 650px;
        font-size: 18px;
    }

    .button-panel a{
        font-size: 1.1rem !important;
        padding: 5px 15px !important;
    }
}

svg #w{
    opacity: 0;
}

.loader #hexagon{
    opacity: 0;
}

.loader {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) !important;
}

#logo svg{
    height: 50px;
    width: 50px !important;
    transition: 0.5s;
}

#logo svg:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#logo svg:hover #hexagon{
    transition: 0.3s;
    fill:rgba(255, 187, 55, 0.5) !important;
}

.button-panel{
    display: flex;
    margin-top: 30px;
}

.button-panel a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 0px;
    margin-right: 20px;
}

.primaryButton{
    border: 3px solid #FFBB37;
    background-color: rgba(255, 187, 55, 0.5);
}

.secondaryButton{
    background-color: transparent;
    border: 3px solid #FFBB37;
}

.primaryButton:hover, .secondaryButton:hover{
    border: 3px solid #99914A;
    background-color:#FFBB37;
}
/* || End of index css */

/* || Start of portfolio css */
#portfolio-container{
    margin-top: 50px;
}

#portfolio-container .row{
    position: relative;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title h1{
    font-size: 8.25rem;
    color: rgba(255, 255, 255, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0px;
    user-select: none;
    overflow: hidden;
}

.title p{
    font-size: 2.25rem;
    position: absolute;
    align-self: center;
    color: white;
    /*color: #FFBB37;*/
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6 !important;
    margin: 0px;
}

.title span{
    border-bottom: 4px solid #FFBB37;
    display: block;
    margin: 0 auto;
    max-width: 40%;
}

/*  projects css */
.project{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.content{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    z-index: 1;
}

.project-title{
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

.project-title:hover{
    color: white;
    transition: 0.3s;
    /*cursor: pointer;*/
}

.project-description{
    /*background-color: rgba(2, 43, 54, 0.8);*/
    background-color: #023340;
    border-radius: 3px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.project-description p{
    margin: 0px;
    color: rgba(255, 255, 255, 0.8);
}

.left{
    flex-direction: row;
}

.right{
    flex-direction: row-reverse;
}

.project-tags{
    list-style-type: none;
    margin: 20px 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.project-tags li{
    display: inline;
    margin: 5px 5px 0px 5px !important;
    font-family: 'Courier Prime', monospace;
    color: rgba(255, 255, 255, 0.6);
    padding: 4px 10px;
    background-color: rgba(2, 51, 64, 0.8);
    border-radius: 3px;
    display: inline-block;
    transition: 0.3s;
}

.left .project-tags li:first-of-type{
    margin-left: 0px !important;
}

.right .project-tags li:last-of-type{
    margin-right: 0px !important;
}

.project-links a{
    font-family: 'Roboto Mono', sans-serif;
    padding: 8px 15px;
    border-radius: 0px;
    border-width: 3px;
    font-weight: 700;
    border-color: #FFBB37;
    font-size: 0.9rem;
}

.project-links .btnDemo{
    color: white;
    background-color: rgb(255, 187, 55, 0.5);
}

.project-links .btnCode{
    color: rgba(255, 255, 255, 0.8);
}

.project-links .btnDemo:hover{
    background-color: transparent;
    color: white;
}

.project-links .btnCode:hover{
    color: white;
    background-color: rgb(255, 187, 55, 0.5);
}

.left .project-tags{
    text-align: left;
}

.right .project-tags{
    text-align: right;
}

.preview{
    overflow: hidden;
    border-radius: 10px;
}

.project-img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.project-img:hover{
    transform: scale(1.05);
}

.project .col-md-6{
    padding: 0px;
}

.left{
    flex-direction: row;
}

.right{
    flex-direction: row-reverse;
}

.left .content{
    margin-right: -7%;
    text-align: left;
}

.right .content{
    margin-left: -7%;
    text-align: right;
}

.project-tags{
    list-style-type: none;
    margin: 20px 0px;
    padding: 0px;
}

.left .project-tags{
    text-align: left;
}

.right .project-tags{
    text-align: right;
}

.project-tags li:hover{
    color: white;
    background-color: rgba(2, 51, 64, 0.8);
    transform: translateX(5px) !important;
}

.project-title:before{
    content: "";
    position: absolute;
    background: #FFBB37;
    height: 5px;
    width: 20px;
    top: 50%;
}

.left .project-title{
    margin-left: 30px;
}

.left .project-title:before{
    left: -30px;
}

.right .project-title{
    margin-right: 30px;
}

.right .project-title:before{
    right: -30px;
}

@media(max-width: 768px) {
    .title h1{
        font-size: 5rem;
        text-align: center;
    }

    .title p{
        font-size: 1.5rem;
    }

    .project{
        position: relative;
        padding: 30px;
    }

    .preview{
        position: absolute;
        opacity: 0.3;
    }

    .content{
        margin-right: 0 !important;
        margin-left: 0 !important;
        min-height: 100% !important;
        margin-top: 10px;
    }

    .project-title{
        text-align: left !important;
    }

    .project-description{
        text-align: left !important;
    }

    .project-tags{
        text-align: left !important;
    }

    .project-links{
        text-align: left !important;
    }

    .project-title{
        margin-left: 30px;
    }

    .project-title:before{
        left: -30px !important;
    }
}

@media(max-width: 576px) {
    .project{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .title h1{
        font-size: 4rem !important;
    }

    .title p{
        font-size: 1.5rem;
    }

    .project-title{
        color: rgba(255, 255, 255, 1);
    }

    .project-tags li{
        color: rgba(255, 255, 255, 0.8);
    }

    .content{
        margin-top: 0px;
        padding-top: 10px !important;
    }

    .project-description{
        background-color: rgb(2, 51, 64, 0.4);
        margin-left: 10px;
        margin-right: 10px;
    }

    .project{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(min-width: 992px) {
    #contact-container{
        min-width: 70vw;
    }

    .left .project-title:hover{
        transform: translateX(10px);
    }

    .right .project-title:hover{
        transform: translateX(-10px);
    }
}

/* || Start of contact css */
#contactForm{
    color: white;
}

#contactForm h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

#contactForm ::placeholder{
    color: rgb(255, 255, 255, 0.4);
}

#contactForm input, #contactForm textarea{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
    background-color: #1B6576;
    border-color: #1d7b91;
    height: 100%;
    width: 100%;
    padding: 0.75rem 0.95rem !important;
}

#btnSubmit{
    background-color: #1d89a1;
    border-color: #1d89a1;
    padding: 0.8rem 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    transition: 0.3s;
}

#btnSubmit:hover{
    background-color: #1b7c92;
}

#contactInfo h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

#contactInfo p{
    font-family: 'Poppins', sans-serif;
    color: rgba(255,255,255,0.6);
    margin: 5px 0px 10px 10px;
    transition: 0.3s;
}

#contactInfo p:hover{
    color: white;
}

#contactInfo p:hover i{
    color: white;
}

#contactInfo i{
    color: #1D89A1;
    font-size: 1.2rem;
    text-align: center !important;
    transition: 0.3s;
}

#contactInfo a p{
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#contactInfo a p:nth-of-type(2), #contactInfo a p:nth-of-type(4){
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

#contactInfo a p span{
    transition: 0.3s;
}

#contactInfo a:hover p{
    background-color: #1B6576;
}

#contactInfo a:hover .item{
    transform: translateX(10px);
}

#contactInfo .item{
    font-weight: 700;
}

/* Modal css */
.modal-content{
    background-color: #015367;
    color: white;
}

#contactModal input, #contactModal textarea{
    background-color: #1B6576;
    border-color: #1d7b91;
    color: white;
}

.modal-header{
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.modal-footer{
    border-top: 1px solid rgba(255,255,255,0.4);
}

.modal-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#contactModal .modal-body{
    font-family: 'Poppins', sans-serif;
}

/* || Start of Form validation css */
.errorClass{
    color: rgb(255, 79, 79);
}

.is-invalid{
    border: 1px solid rgb(255, 79, 79) !important;
}

/* || End of Form validation css */

/* || Start of Footer css */
.footer a{
    text-decoration: none;
    color: rgb(255, 255, 255, 0.4);
    font-family: 'Fira Code', sans-serif;
    font-size: 0.9rem;
    transition: 0.3s;
}

.footer a:hover{
    color: white;
}


/* || End of Footer css */



/* || Start of technologies css */
.technologies{

}

.technologies .col-md-4{
    padding: 0.75rem !important;

}

.technologies .icon{
    margin-bottom: 20px;
}

.technologies .icon i{
    font-size: 50px;
    color: #FFBB37;
    transition: 0.3s ease-in-out;
}

.technologies .card{
    height: 100%;
    padding: 60px 45px;
    /*background-color: #1B6576;*/
    background-color: rgb(2, 51, 64, 0.8);
    transition: 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    color: red !important;
    border-radius: 5px;
    position: relative;
    border: 0px;
}

.technologies .card:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    opacity: 0;
    background-image: linear-gradient(135deg, #a76f01, #eca311);
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.technologies .card:hover{
    transform: translateY(-10px);
    /*background-color: #251a02;*/
}

.technologies .card:hover:after{
    opacity: 1;
}

.technologies .card:hover .icon i{
    color: white !important;
}

.technologies .content h3{
    font-weight: 500;
}

.technologies .content p{
    color: rgb(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
}

.technologies .card:hover .content p{
    color: white !important;
}

.technologies .content{
    margin: 0px;
}

/* 992px and above */
@media(min-width: 992px) {

}

/* Mobile only */
@media(max-width: 576px) {

}
/* || End of technologies css */